<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <add name="SQL"
         connectionString="data source=DESKTOP-CEH96HK\SQLEXPRESS01; Initial Catalog=MAD;persist security info=True;Integrated Security = SSPI"
         providerName="System.Data.SqlClient"/>
    <add name="desarrollo"
        connectionString="data source=DESKTOP-CEH96HK\SQLEXPRESS01;Initial Catalog=MAD;persist security info=True;Integrated Security=SSPI"
        providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>